/implementation
/hdl
/blkdiagram
/ppc405_*
/synthesis
/__xps
/_xmsgs
/pcores/*/design/work
/pcores/*/hdl
/pcores/*/devl

/system_log.*
/system_xmp.*
/platgen.opt
/tmap.make
/received.txt
/system_incl.make
/system.make
/*.log
/pcores/*/design/abc.rc

*.bit
*.elf
*.bak
*.log
locations.[ch]
exorw32.[ch]
.svn
*~
