.DS_Store
._.DS_Store
*.pyc
*.d
*.o
/source
/java/bin
/third_party/aiger-1.9.4*
/third_party/bin
/third_party/abc_810ba683c042*
/examples/*/work
/documentation/src/user_guide.log
/documentation/src/user_guide.out
/documentation/src/user_guide.pdf
*.aux
*.synctex.gz
