*.pyc
*.d
*.o
/source
/java/bin
/third_party/bin
/third_party/etc
/third_party/aiger-*
/third_party/abc_*
/third_party/hessian-*.jar
/third_party/rapidSmith*
/third_party/JavaBDD
/third_party/javabdd*
/third_party/jopt-simple-*.jar
/examples/**/work
/tests/work
