/implementation
/hdl
/blkdiagram
/synthesis
/__xps
/_xmsgs
/pcores/*/design/work
/pcores/*/hdl
/pcores/*/devl
/SDK

/etc/system.gui
/system_log.*
/system_xmp.*
/platgen.opt
/tmap.make
/received.txt
/system_incl.make
/system.make
/*.log
/pcores/*/design/abc.rc

*.bit
*.elf
*.bak
*.log
locations.[ch]
rom.[ch]
.svn
*~
XpsGuiSessionLock
